{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />

	<link rel="stylesheet" href="{% static 'css/test.css' %}" />

	<link rel="stylesheet" href="{% static 'css/loading.css' %}" />


	<title>BG-Remover</title>
</head>

<body>

	<div class="top">
		<header id="navbar">
			<a href="#" class="logo">BG-Remover<span>(AppBytes)</span></a>
			<input type="checkbox" id="menu-bar">
			<label for="menu-bar" class="fas fa-bars"></label>
			<nav class="navbar">
				<a href="#home">Blogs</a>
				<a href="#home">Services</a>
				<a href="#home">Contact</a>
			</nav>
		</header>








		<section class="home">
			<div class="details" id="home-details">
				<div class="content">
					<h1>Free Automatically Remove Your Background</h1>
					<p>Its tataly free your all users. For Developer, we provides free api.</p>
				</div>
				<img src="{% static 'images/half-background.jpg' %}" />
			</div>
			<div class="process" id="home-process">
				<div class="process-container">
					<h1>Processed Image</h1>
					<div class="progressing" id="home-process-progressing">
						<div class="loading"></div>
					</div>
					<img src="./images/download.png" id="home-process-image"/>
					<div class="control">
						<a href="#" download="" id="home-process-download"><button class="upload-button">
							<i class="fa-solid fa-download"></i> Download
						</button></a>
					</div>
				</div>
			</div>
			<div class="upload">
				<div class="upload-box dropzone" id="drop-area">
					<input type="file" class="input-image">
					<div class="icon">
						<i class="fa-solid fa-box-open"></i>
					</div>

					<input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
					<label class="upload-button" for="fileElem"><i class="fa-solid fa-upload"></i> Upload Image</label>
					<h1>Or Drop a image</h1>

					<div class="bottom">
						Paste image url
					</div>
				</div>






				<div id="drop-area">
					<progress id="progress-bar" max=100 value=0></progress>
					<div id="gallery"></div>
				</div>
			</div>
		</section>
	</div>



	<!-- <div id="drop-area">
		<form class="my-form">
			<p>Drag or upload at a time one image</p>
			<input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
			<label class="button" for="fileElem">Select some files</label>
		</form>
		<progress id="progress-bar" max=100 value=0></progress>
		<div id="gallery"></div>
	</div> -->

	<div class="botm"></div>










	<script src="{% static 'js/sticky.js' %}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>




	<script>
		let dropArea = document.getElementById("drop-area");
		['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
			dropArea.addEventListener(eventName, preventDefaults, false)
			document.body.addEventListener(eventName, preventDefaults, false)
		})

		;
		['dragenter', 'dragover'].forEach(eventName => {
			dropArea.addEventListener(eventName, highlight, false)
		})

		;
		['dragleave', 'drop'].forEach(eventName => {
			dropArea.addEventListener(eventName, unhighlight, false)
		})

		dropArea.addEventListener('drop', handleDrop, false)

		function preventDefaults(e) {
			e.preventDefault()
			e.stopPropagation()
		}

		function highlight(e) {
			dropArea.classList.add('highlight')
		}

		function unhighlight(e) {
			dropArea.classList.remove('active')
		}

		function handleDrop(e) {
			var dt = e.dataTransfer
			var files = dt.files

			handleFiles(files)
		}

		let uploadProgress = []
		let progressBar = document.getElementById('progress-bar')

		function initializeProgress(numFiles) {
			progressBar.value = 0
			uploadProgress = []

			for (let i = numFiles; i > 0; i--) {
				uploadProgress.push(0)
			}
		}

		function updateProgress(fileNumber, percent) {
			uploadProgress[fileNumber] = percent
			let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
			progressBar.value = total
		}

		function handleFiles(files) {
			files = [...files]
			initializeProgress(files.length)
			previewFile(files[0])
			uploadFile(files[0])
			// files.forEach(uploadFile)
			// files.forEach(previewFile)
		}

		function previewFile(file) {
			let reader = new FileReader()
			reader.readAsDataURL(file)
			reader.onloadend = function () {
				let img = document.createElement('img')
				img.src = reader.result
				document.getElementById('gallery').appendChild(img)
			}
		}

		function uploadFile(file, i) {
			console.log("upload file")
			var process = document.getElementById("home-process")
			var details = document.getElementById("home-details")
			var progress = document.getElementById("home-process-progressing")
			var image = document.getElementById("home-process-image")
			var download = document.getElementById("home-process-download")
			process.style.display = "block"
			details.style.display = "none"
			image.style.display = "none"
			download.style.display = "none"

			const formData = new FormData();
			formData.append("image", file);

			axios.post('/api-bgremover/image/upload/', formData, {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}).then(response => {
					progress.style.display = "none"
					image.style.display = "block"
					download.style.display = "block"
					image.src = response.data.response
					download.href = response.data.response
				})
				.then(error => {
					console.log(error)
				})
			}
	</script>
</body>

</html>