{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<!-- <link rel="stylesheet" href="{% static 'css/home.css' %}" /> -->

	<link rel="stylesheet" href="{% static 'css/test.css' %}" />

	<link rel="stylesheet" href="{% static 'css/loading.css' %}" />
	<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
	<link rel="stylesheet" href="{% static 'css/about.css' %}" />


	<title>Background Remover</title>


	<title>BG-Remover</title>
</head>
{% include "css/home.html" %}

<body>

	<div class="top">
		<header id="navbar">
			<a href="#" class="logo">Background Remover</a>
			<input type="checkbox" id="menu-bar">
			<label for="menu-bar" class="fas fa-bars"></label>
			<nav class="navbar">
				<a href="#home">Blogs</a>
				<a href="#home">Services</a>
				<a href="#home">Contact</a>
			</nav>
		</header>

		<section class="home">
			<div class="details" id="home-details">
				<div class="content">
					<h1>Automatically Remove Your Background</h1>
				</div>
				<img src="{% static 'images/half-background.jpg' %}" />
			</div>
			<div class="process" id="home-process">
				<div class="process-container">
					<h1>Processed Image</h1>
					<div class="progressing" id="home-process-progressing">
						<div class="loading"></div>
					</div>
					<img src="./images/download.png" id="home-process-image" />
					<div class="control">
						<a href="#" download="" id="home-process-download">
							<button class="upload-button">
								<i class="fa-solid fa-download"></i> Download
							</button>
						</a>
					</div>
				</div>
			</div>
			<div class="upload">
				<div class="upload-box dropzone" id="drop-area">
					<input type="file" class="input-image">
					<div class="icon">
						<i class="fa-solid fa-box-open"></i>
					</div>

					<input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
					<label class="upload-button" for="fileElem"><i class="fa-solid fa-upload"></i> Upload Image</label>
					<h1>Or Drop a image</h1>

					<div class="bottom">
						Paste image url
					</div>
				</div>






				<div id="drop-area">
					<progress id="progress-bar" max=100 value=0></progress>
					<div id="gallery"></div>
				</div>
			</div>
		</section>
	</div>



	<!-- <div id="drop-area">
		<form class="my-form">
			<p>Drag or upload at a time one image</p>
			<input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
			<label class="button" for="fileElem">Select some files</label>
		</form>
		<progress id="progress-bar" max=100 value=0></progress>
		<div id="gallery"></div>
	</div> -->


	<div class="about" id="about" data-aos="fade-up">
		<div class="left">
			<img src="{% static 'images/half-background.jpg' %}" alt="about" class="about-img" />
		</div>
		<div class="right" data-aos="fade-up" data-aos-anchor=".about">
			<h3>About us</h3>
			<p class="about-title">AI Base Background Remover Service</p>

			<ul>
				<li>
					We can detect human a automatically remove it's background
				</li>
				<li> We can detect animal a automatically remove it's background</li>
				<li> We can detect cloth a automatically remove it's background. You can use it your E Commerce website.
				</li>
			</ul>
			<button>Get started ➡</button>
		</div>
	</div>


	<div class="footer" id="footer">
		<div class="footer-boxes">
			<ul class="footer-lists">
				<li class="footer-list-first footer-list">About us</li>
				<li class="footer-list">
					<a class="footer-link" href="/">AI Support</a>
				</li>
			</ul>
			<ul class="footer-lists">
				<li class="footer-list-first footer-list">Our Services</li>
				<li class="footer-list">
					<a class="footer-link" href="/">Image Background Remover</a>
				</li>
				<li class="footer-list">
					<a class="footer-link" href="/">Video Background Remover</a>
				</li>
			</ul>
			<ul class="footer-lists">
				<li class="footer-list-first footer-list">Terms</li>
				<li class="footer-list">
					<a class="footer-link" href="/">Terms Of Service </a>
				</li>
				<li class="footer-list">
					<a class="footer-link" href="/">Privacy Policy </a>
				</li>
			</ul>
		</div>
		<p class="footer-caption">
			&copy; 2022 AppBytes. All rights reserved.
		</p>
	</div>









	{% include "js/dropdown.html" %}
	<!-- <script src="{% static 'js/sticky.js' %}"></script> -->
	<!-- <script src="{% static 'js/draganddrop.js' %}"></script> -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>




</body>

</html>