<div class="footer" id="footer">
	<div class="footer-boxes">
		<ul class="footer-lists">
			<li class="footer-list-first footer-list">About us</li>
			<li class="footer-list">
				<a class="footer-link" href="/">AI Support</a>
			</li>
		</ul>
		<ul class="footer-lists">
			<li class="footer-list-first footer-list">Our Services</li>
			<li class="footer-list">
				<a class="footer-link" href="/">Image Background Remover</a>
			</li>
			<li class="footer-list">
				<a class="footer-link" href="/">Video Background Remover</a>
			</li>
		</ul>
		<ul class="footer-lists">
			<li class="footer-list-first footer-list">Terms</li>
			<li class="footer-list">
				<a class="footer-link" href="/">Terms Of Service </a>
			</li>
			<li class="footer-list">
				<a class="footer-link" href="/">Privacy Policy </a>
			</li>
		</ul>
	</div>
	<p class="footer-caption">
		&copy; 2022 AppBytes. All rights reserved.
	</p>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>